<p id="notice"><%= notice %></p>

<h1>Cups</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Active</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cups.each do |cup| %>
      <tr>
        <td><%= cup.name %></td>
        <td><%= cup.active %></td>
        <td><%= link_to 'Show', cup %></td>
        <td><%= link_to 'Edit', edit_cup_path(cup) %></td>
        <td><%= link_to 'Destroy', cup, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cup', new_cup_path %>
