<p id="notice"><%= notice %></p>

<h1>Cup Players</h1>

<table>
  <thead>
    <tr>
      <th>Cup</th>
      <th>Player</th>
      <th>Score</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cup_players.each do |cup_player| %>
      <tr>
        <td><%= cup_player.cup_id %></td>
        <td><%= cup_player.player_id %></td>
        <td><%= cup_player.score %></td>
        <td><%= link_to 'Show', cup_player %></td>
        <td><%= link_to 'Edit', edit_cup_player_path(cup_player) %></td>
        <td><%= link_to 'Destroy', cup_player, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cup Player', new_cup_player_path %>
